.sidenav {
  position: fixed;
  top: 50px;
  bottom: 0;
  width: 365px;
  background-color: #fff;
  box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.4);
  z-index: 980;
  overflow-y: scroll;
  overflow-x: hidden;
}
.w-6 {
  width: 26px;
}
.h-6 {
  height: 26px;
}
.sidenav-head {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  column-gap: 10px;
  background-color: #232f3e;
  height: 50px;
  align-items: center;
  color: #ffffff;
  position: fixed;
  top: 0;
  width: 365px;
  z-index: 1000;
}

sidenav-head::before {
  content: '';
}
sidenav-head::after {
  content: '';
}
.sidenav-body {
  margin-left: 18px;
}
