.navbar__img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}
.navbar__complete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.navbar__complete .hamburger__menu {
  border: 1px solid transparent;
}

.navbar__complete .hamburger__menu:hover {
  border: 1px solid white;
}

.navbar__complete .hamburger__menu__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__complete .hamburger__menu__icon > span {
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 5px;
}
.navbar__complete .nav__item {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 4px 0.4rem;
  border: 1px solid transparent;
  margin-right: 4px !important;
  border-radius: 3px;
  letter-spacing: 0.1px;
}
.navbar__complete .nav__item.hamburger__item {
  margin-left: 0px;
}
.navbar__complete .nav__item:hover {
  border: 1px solid white;
}

@media only screen and (max-width: 1500px) {
  .navbar__complete {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .navbar__complete .nav__item {
    font-size: 0.7rem;
  }
  .navbar__complete .hamburger__menu__icon > span {
    font-size: 0.7rem;
  }
}
