.carousel{
    /* width: 100%; */
    /* min-height: 200px; */
    z-index: 1;
    margin-bottom: -300px;
    margin-top: 2px;
}
.carousel-control-next-icon{
    height: 40px !important;
    margin-right: 0px;
    margin-top: -300px;
    background-color: black;
    z-index: 2;
}
.carousel-control-prev-icon{
    height: 40px !important;
    z-index: 2;
    margin-top: -300px;
    background-color: black;
}
.carousel-control-next{
    justify-content: end;
}
.carousel-control-prev{
    justify-content: start;
}