.top {
    padding-top: 1%;
    padding-left: 46%;
    padding-bottom: 1%;
    background-color: #37475A;
    color: white;
    cursor: pointer;
}

.rest-footer-1 {
    background-color: #222f3f;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2% 10%;
}

.foot-head {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.leading-5 {
    list-style: none;

}

ul {
    padding-left: 0%;
}

a {
    color: white;
}

.rest-footer-2 {
    background-color: #222f3f;
    padding: 3% 10%;
    text-align: center;
    margin-bottom: -3.5rem;
}

.rest-footer-2 img {
    width: 7rem;
    height: 30px;
}

.rest-footer-2 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 3rem;
}

.rest-footer-2 ul li {
    list-style: none;
    margin-left: 2rem;
    margin-right: 2rem;
}

.rest-footer-2 ul li span {
    background-color: #222f3f;
    border: 1px solid #adadad;
    border-radius: 3px;
    padding: 7.5px 15px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.countries ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #222f3f;
    text-align: center;
    margin: 0;
}

.countries ul li {
    color: #fff;
    margin: 10px;
    cursor: pointer;
    list-style: none;
    padding: 8px;
    font-size: 1rem;
    font-weight: 500;
}

.footer-line {
    background-color: #222f3f;
    border-top: 1px solid #3a4553;
}

.base {
    background-color: #131a22;
}

.upper-base {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 40%;
    padding-left: 40%;
    padding-top: 1%;
    font-size: 12px;
}

.lower-base {
    font-size: 12px;
    text-align: center;
    color: white;
    padding-bottom: 2%;
}