@import url('http://fonts.cdnfonts.com/css/amazon-ember');                
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: white;
  font-family: "Amazon Ember",Arial,sans-serif;
}
.login__img {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.login__container {
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}
.login__sign {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 29px;
  line-height: 1.2;
}
.credential_name {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 14px;
}

.input_box {
  height: 30px;
  margin-bottom: 10px;
  width: 98%;
  border: 0.1vw solid #a6a6a6;
  border-radius: 0.6vh;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 14px;
  background-color: white;
  padding: 0 10px;
}

.input_box:focus{
  outline: none !important;
  border: 0.1vw solid rgb(239, 106, 22);
  box-shadow: 0 0 0 1.7px rgb(250, 199, 163);
  font-size: 15px;
  background-color: white;
}
.loginsign_button {
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  align-items: center;
  border-radius: 2px;
  width: 100%;
}
.loginsign_button:focus{
  outline: none !important;
  box-shadow: 0 0 0 1.7px rgb(245, 210, 134);
}
.login_info {
  margin-top: 15px;
  font-size: 12px;
  font-weight: 400;
}

.login_info>a{
  color:blue;
}

#Continuebutton{
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border: #a88734 #9c7e31 #846a29;
  border-radius: 4px;
  width: 98%;
  padding: 1px 6px;
  height: 30px;
  font-size: 14.2px;
  margin-top: 15px;
}

#Continuebutton:focus{
  outline: none !important;
  box-shadow: 0 0 0 1.8px rgb(245, 210, 134) ;
}

.loginregister_button{
  border: 0.1vw solid #594920;
  font-size: 14px;
  width: 345px;
  padding: 4px 3px;
  border-radius: 0.8vh;
}

.loginregister_button:hover{
  background: rgb(226, 226, 226);
}

.password_info{
  font-size: 12px;
}
.password_info span{
  color: #0000ff;
  margin-right: 10px;
}