.checkoutproduct__rating {
  display: flex;
}

.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color:white;
}
.checkoutproduct__info {
  padding-left: 20px;
}

.checkoutproduct__button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.checkoutimage__product {
  object-fit: contain;
  width: 180px;
  height: 180px;
}
.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}
