.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}
.checkout__add {
  margin-bottom: 100px;
  width: 100%;
  background-color: wheat;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: 50px;
  height: auto;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkout__right{
  position: fixed;
  right: 0;
  margin-right: 10px;
}

.subtotal-calculate {
  margin-left: 47rem;
}