.top {
    padding-top: 1%;
    padding-left: 46%;
    padding-bottom: 1%;
    background-color: #37475A;
    color: white;
    cursor: pointer;
}

.rest-footer-1 {
    background-color: #222f3f;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2% 10%;
}

.foot-head {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.leading-5 {
    list-style: none;

}

ul {
    padding-left: 0%;
}

a {
    color: white;
}

.rest-footer-2 {
    background-color: #222f3f;
    padding: 3% 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-countries {
    
    font-size: 12px;
    color: white;
    padding: 2%;
}
.countries {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    
}
.countries >li {
    list-style: none;
    margin: 7px;
    font-weight: 400;
}

.countries >li:hover {
    text-decoration: underline;
}


.rest-footer-2 img {
    width: 7rem;
    
}

.footer-line {
    background-color: #222f3f;
    border-top: 1px solid #3a4553;
}

.base {
    background-color: #131a22;
}

.upper-base {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 40%;
    padding-left: 40%;
    padding-top: 1%;
    font-size: 12px;
}

.lower-base {
    font-size: 12px;
    text-align: center;
    color: white;
    padding-bottom: 2%;
}

