.header {
  height: 80px;
  display: flex;
  align-items: center;
  background: black;
  position: sticky;
  top: 0;
  z-index: 100;
  overflow: hidden;
}
.header__logo {
  width: 175px;
  margin: 16px 5px 15px 0px;
  object-fit: contain;
  position: relative;
  padding: 11px 0px 0px 0px;
  margin-bottom: 15px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
  width: 200%;
}

.header__searchInput {
  width: 800px;
  height: 40px;
  border: none;
  size: "100";
  font-size: 20px;
}
.header__searchInput:focus {
  outline: none;
}

.header__searchIcon {
  padding: 0px;
  height: 100% !important;
  width: 45px !important;
  background-color: orange;
  border-radius: 0 4px 4px 0;
}
.header__optionLineOne {
  font-size: 15px;
}
.header__optionLineTwo {
  font-size: 16px;
  font-weight: 800;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 10px;
  color: white;
}
.header__option a:hover, a:visited, a:link, a:active{
  text-decoration: none;

}
.header__optionBasket {
  color: white;
  display: flex;
  align-items: center;
}
.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__searchForm {
  display: flex;
  width: 800px;
  height: 40px;
  margin-left: 80px;
}
 

 
.header__selectInput{
 
  display: flex;
  background-color:#f1f3f5;
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #dee2e6;
}
.header__selectInputText{
font-weight: 500;
padding: 5px;
padding-left: 8px;
margin-top: 3px;
color: #495057;
font-size: 14px;
 
}
.header__selectInputIcon{
  margin-top: 6px;
  color: #495057!important;
}