.header {
  height: 80px;
  display: flex;
  align-items: center;
  background: black;
  position: sticky;
  top: 0;
  z-index: 100;
  overflow: hidden;
}
.header__logo {
  width: 175px;
  margin: 16px 5px 15px 0px;
  object-fit: contain;
  position: relative;
  padding: 11px 0px 0px 0px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
  width: 200%;
}

.header_searchInput {
  height: 13px;
  padding: 18px;
  border: none;
  width: 100%;
  size: "100";
}
.header__searchIcon {
  padding: 0px;
  height: 22px !important;
  background-color: orange;
}
.header__optionLineOne {
  font-size: 15px;
}
.header__optionLineTwo {
  font-size: 16px;
  font-weight: 800;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 10px;
  color: white;
}

.header__option a:hover, a:visited, a:link, a:active{
  text-decoration: none;

}

.header__optionBasket {
  color: white;
  display: flex;
  align-items: center;
}
.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
