.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -300px;
  /* margin-top: 2px; */
  /* mask-image: linear-gradient(to bottom, rgb(2, 2, 2), rgba(0, 0, 0, 0)); */
}
.home {
  display: flex;
  justify-content: center;
  margin-left: 1px;
  margin-right: 1px;
  /* max-width: 4000px; */
}
.hide {
  visibility: hidden;
  height: 0px;
}
.show{
  visibility: visible;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.load-more-btn{
  font-size: 22px;
  border-radius: 6px;
  text-align: center;
  padding: 2px 19px;
  font-family: fangsong;
  font-weight: bold;
}
.load-more-btn:hover{
  background-color: #ffeb00;
  color: black;
}
/*This code is for specifying every product in rows*/

.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 800px) {
  .home__row {
    flex-wrap: wrap;
  }
}
