@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -300px;
  /* margin-top: 2px; */
  /* mask-image: linear-gradient(to bottom, rgb(2, 2, 2), rgba(0, 0, 0, 0)); */
}
.home {
  display: flex;
  justify-content: center;
  margin-left: 1px;
  margin-right: 1px;
  /* max-width: 4000px; */
}
.hide {
  visibility: hidden;
  height: 0px;
}
.show{
  visibility: visible;
}

a.load-more-btn.block {
  color: #028484;
  background-color: #d9d9d9;
  font-family: 'Amazon Ember';
}

a.load-more-btn.block {
  color: #028484;
  background-color: #d9d9d9;
  font-family: 'Amazon Ember';
}

.load-more-btn {
  padding: 5px 2.1em 7px;
  border-radius: 3px;
  margin: 8px 8px 8px 8px;
  display: inline-block;
  transition: 0.3s;
  font-weight: 800;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  position: relative;
  word-spacing: 1px;
  letter-spacing: 0px;
}
.load-more-btn:hover, .load-more-btn:focus {
  opacity: 0.8;
}
.load-more-btn:active {
  -webkit-transform: scale(0.80);
  -moz-transform: scale(0.80);
  -ms-transform: scale(0.80);
  -o-transform: scale(0.80);
  transform: scale(0.80);
}
.load-more-btn.block {
  display: block !important;
}
/*This code is for specifying every product in rows*/

.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 800px) {
  .home__row {
    flex-wrap: wrap;
  }
}
