.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: white;
}
.login__img {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.login__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}
.login__sign {
  font-weight: 500;
  margin-bottom: 20px;
  
}
.credential_name {
  margin-bottom: 5px;
}

.input_box {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}
.loginsign_button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  align-items: center;
  border-radius: 2px;
  width: 100%;
}

.login_info {
  margin-top: 15px;
  font-size: 12px;
}
